.btn {
    display: inline-block;
    padding: 0.9rem 1.8rem;
    font-size: 16px;
    font-weight: 700;
    color: white;
    border: 3px solid rgb(250, 204, 21);
    cursor: pointer;
    position: relative;
    background-color: transparent;
    text-decoration: none;
    overflow: hidden;
    z-index: 1;
    font-family: inherit;
   }
   
   .btn::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color:  rgb(3, 78, 253)    ;
    transform: translateX(-100%);
    transition: all .3s;
    z-index: -1;
}

   .btn:hover::before {
       transform: translateX(0);
    }

    .btn:hover{
        color: white;
    }

    /* Button.css */
.btn {
    background-color: #ffc300 ; /* True Blue Primary color */
    color: black;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 0.375rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  .btn:hover {
    background-color: #ffc300 ; /* Darker shade of blue on hover */
  }
  
  .btn:disabled {
    background-color: #93c5fd; /* Lighter blue when disabled */
    cursor: not-allowed;
  }
  